@model Wba.Oefening.Movies.Web.Models.HomeIndexMovieVm
    <section class="row">
        <div class="col-md-12">
            <header>
                <h2>@ViewBag.Title</h2>
            </header>
        </div>
        <ul>
            @foreach (var movie in Model.Movies)
            {
                <partial name="Movie" model="new MoviePartial{ movie = movie}"/>
            }
        </ul>
        </section>
